$cabbage:         hsl(100, 10, 28);
$ink:             hsl(260, 58, 15); // #1F103C
$white:           hsl(0, 0, 100);

$color-primary:   $ink;
$grey:            hsl(hue($color-primary), 20, 40);
$grey-medium:     hsl(hue($color-primary), 5, 80);
$grey-light:      hsl(hue($color-primary), 5, 90);

$drop-shadow-color:     tint($color-primary, 30%);
$drop-shadow-thickness: 4px;
$box-shadow:            $drop-shadow-thickness $drop-shadow-thickness 0 $drop-shadow-color;

// Polaroid Image Wrapper
$color-polaroid-bg:     hsl(38, 39, 89);
$color-scotch-tape:     hsla(55, 27, 82, 0.7);
$color-polaroid:        $cabbage;

// Character Codes
$character-right-open-big:    '\e803';
$character-link-ext:          '\e805';
