.index {
  .main-header {
    position: relative;
    width: 100%;
    max-width: 711px;
    margin: 0 auto;
    background: image_url('banner.png') no-repeat center / cover;

    &:after {
      display: block;
      padding-top: percentage(504px/1422px);
      content: '';
    }

    &,
    h1,
    time {
      font-size: 0;
    }
  }
}

.the-couple {
  max-width: 500px;
  margin: -10% auto 0;
  border-radius: 50%;
  box-sizing: border-box;

  img {
    width: 100%;
    border: 2px solid tint($color-primary, 20%);
    border-radius: 50%;
  }
}
