.photos {
  background: shade($color-primary, 10%);

  .main-content {
    background: shade($color-primary, 10%);
  }

  .bottom-bar {
    transition: transform $duration-transition;
  }

  &:not(.loaded) {
    .bottom-bar {
      @include transform(translateY(100%));
    }

    .photo-grid {
      position: absolute;
      opacity: 0;
    }
  }

  &.loaded {
    .loading {
      display: none;
    }
  }
}

.photo-grid {
  margin: 0 auto;
  transition: opacity $duration-transition;
}

.photo {
  float: left;
  overflow: hidden;

  a {
    cursor: zoom-in;

    img {
      @include transition(transform 250ms);
      display: block;
    }

    &:not(:hover) {
      img {
        @include transform(scale(0.98));
      }
    }
  }

  .small-thumb {
    display: block;
  }

  .medium-thumb {
    display: none;
  }

  @media screen and (min-width: 600px) {
    .small-thumb {
      display: none;
    }

    .medium-thumb {
      display: block;
    }
  }
}
