---
title: Our Story
---

.container
  .image
    .polaroid
      %figure
        = image_tag('arbutus.jpg')
        %figcaption Totally casual forest hike

  .story
    %h2 A match made in discourse

    %p
      Kevin and Trish first met as rivals in their Philosophy of Education course at the University of Victoria.
      Always one to play devil’s advocate,
      Kevin enjoyed ruffling Trish’s feathers by taking the opposite stance of whatever she was passionately debating.
      Catching her eye, with a wink and a smug grin Kevin quickly wormed his way into Trish’s heart.

    %p
      She’s pretty sure she cooked her way into his.
